body{
      background-color: #D3D3D3;
      font-family: 'Oswald', sans-serif;
      line-height: 22px;
      box-sizing: border-box;
      list-style: none;
      margin: 0;
      padding: 0;

    }
    .bold{
      font-weight: 400;
      text-transform: uppercase;
    }
    div.container{
      padding-top: 10%;
      border: 4px solid blue;
      width: 1920px;
      height: 1080px;
    }
    div.left{
      background-color: #344154;
      color: #E8E8E8;
      width: 18%;
    }
    img.profilePicture{
      border-radius: 50%;
      padding: 20px;
    }
    div.bio{
      padding: 20px;
    }
    /*pasek po prawej*/
    div.name{
      background-color: #dde1e4;
    }